---
- name: Set system hostname
  ansible.builtin.hostname:
    name: "{{ hostname }}"

- name: Apply /etc/hosts template
  ansible.builtin.template:
    src: hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: "0644"
  notify: Reboot nodes
