---
- name: Install CPU scaling governor systemd service
  ansible.builtin.copy:
    dest: /etc/systemd/system/cpu_scaling_governor.service
    mode: "0644"
    content: |
      [Unit]
      Description=Set CPU scaling governor to powersave
      After=multi-user.target

      [Service]
      Type=oneshot
      ExecStart=/bin/bash -c 'echo powersave | tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor'

      [Install]
      WantedBy=multi-user.target
  notify: Reload systemd

- name: Enable and start powertop service
  ansible.builtin.systemd:
    name: cpu_scaling_governor
    enabled: true
    state: stopped # oneshot service

- name: Install powertop
  ansible.builtin.package:
    name: powertop
    state: present

- name: Install powertop systemd service
  ansible.builtin.copy:
    dest: /etc/systemd/system/powertop.service
    mode: "0644"
    content: |
      [Unit]
      Description=Powertop tunings

      [Service]
      Type=oneshot
      ExecStart=/usr/sbin/powertop --auto-tune

      [Install]
      WantedBy=multi-user.target
  notify: Reload systemd

- name: Enable and start powertop service
  ansible.builtin.systemd:
    name: powertop
    enabled: true
    state: stopped # oneshot service

- name: Run powertop tuning now
  ansible.builtin.command: /usr/sbin/powertop --auto-tune
  changed_when: false
