---
- name: Power on nodes
  hosts: proxmox
  gather_facts: false
  tags: never, power

  tasks:
    - name: Power on by WoL (Poor man's IPMI)
      community.general.wakeonlan:
        mac: "{{ mgmt_mac_address }}"
        broadcast: 192.168.1.255
      delegate_to: localhost
      when: "power_on | default(false) | bool"

    - name: Wait for SSH to become available
      ansible.builtin.wait_for:
        host: "{{ ansible_host }}"
        port: 22
        delay: 10
        timeout: 120
      when: "power_on | default(false) | bool"
      delegate_to: localhost

- name: Power off nodes
  hosts: proxmox
  tags: never, power
  tasks:
    - name: Shut down the machine with all defaults
      community.general.shutdown:
        delay: 5
      when: "power_off | default(false) | bool"

- name: Backup /etc of nodes
  hosts: proxmox
  tags: never, backup
  tasks:
    - name: Check if NFS is mounted
      ansible.builtin.command: mountpoint -q /mnt/pve/proxmox
      timeout: 30
      changed_when: false
      failed_when: false
      register: nfs_mount_check

    - name: Check if NFS backup directory exists
      ansible.builtin.stat:
        path: "/mnt/pve/proxmox/host-backups/{{ hostname }}"
      register: backup_dir_stat

    - name: Compress /etc directory to NFS backup location
      community.general.archive:
        path: /etc/pve
        dest: "/mnt/pve/proxmox/host-backups/{{ hostname }}/etc_backup_{{ ansible_facts.date_time.iso8601 }}.tar.gz"
        format: gz
        mode: "0600"
      when:
        - backup_dir_stat.stat.exists
        - nfs_mount_check.rc == 0

    - name: Find backups older than 14 days
      ansible.builtin.find:
        paths: "/mnt/pve/proxmox/host-backups/{{ hostname }}"
        patterns: "etc_backup_*.tar.gz"
        age: 14d
        age_stamp: mtime
      register: old_backups

    - name: Remove backups older than 14 days
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ old_backups.files }}"
      when: old_backups.matched > 0

- name: System upgrade
  hosts: proxmox
  tags: upgrade_system
  tasks:
    - name: Dist upgrade
      ansible.builtin.apt:
        update_cache: true
        install_recommends: false
        autoremove: true
        upgrade: dist
      when: "upgrade_system | default(false) | bool"
    - name: Check if reboot is required
      ansible.builtin.stat:
        path: /var/run/reboot-required
      register: reboot_required
    - name: Print reboot status
      ansible.builtin.debug:
        msg: "Host {{ inventory_hostname }} requires a reboot!"
      when: reboot_required.stat.exists
    - name: Reboot if required
      ansible.builtin.reboot:
        timeout: 60
      when: reboot_required.stat.exists
