---
- name: Welcome playbook
  hosts: proxmox
  become: true
  tasks:
    - name: Ping nodes
      ansible.builtin.ping:

- name: Configure base node settings
  hosts: proxmox
  become: true
  roles:
    - role: hostname
    - role: pve_repos
    - role: powersaving
    - role: nfs_mounts
    - role: common
    - role: access

  handlers:
    - name: Reboot nodes
      ansible.builtin.reboot:
        reboot_timeout: 120
