---
- name: Configure base node settings
  hosts: proxmox
  become: true
  roles:
    - role: hostname
    - role: pve_repos
    - role: powersaving
    - role: nfs_mounts
    - role: common
    - role: access
    - role: acme
    - role: notifications
    - role: metrics
    - role: storage

  handlers:
    - name: Reboot nodes
      ansible.builtin.reboot:
        reboot_timeout: 120

    - name: Restart pveproxy
      ansible.builtin.service:
        name: "pveproxy"
        state: "restarted"
