---
- name: Install cpupowersave systemd service
  ansible.builtin.template:
    src: cpupowersave.service.j2
    dest: /etc/systemd/system/cpupowersave.service
    owner: root
    group: root
    mode: "0644"
  notify: Reload systemd

- name: Set CPU scaling governor to powersave immediately
  ansible.builtin.command: >
    bash -c 'echo powersave | tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor'
  become: true
  changed_when: false

- name: Enable and start cpupowersave service
  ansible.builtin.systemd:
    name: cpupowersave
    enabled: true
    state: stopped

- name: Install powertop
  ansible.builtin.package:
    name: powertop
    state: present

- name: Install powertop systemd service
  ansible.builtin.copy:
    dest: /etc/systemd/system/powertop.service
    mode: "0644"
    content: |
      [Unit]
      Description=Powertop tunings

      [Service]
      Type=oneshot
      ExecStart=/usr/sbin/powertop --auto-tune

      [Install]
      WantedBy=multi-user.target
  notify: Reload systemd

- name: Enable and start powertop service
  ansible.builtin.systemd:
    name: powertop
    enabled: true
    state: stopped # oneshot service

- name: Run powertop tuning now
  ansible.builtin.command: /usr/sbin/powertop --auto-tune
  changed_when: false
