---
- name: Welcome playbook
  hosts: proxmox
  tasks:
    - name: Ping nodes
      ansible.builtin.ping:

- name: Common tasks
  hosts: proxmox
  roles:
    - role: powertop
    - role: pve_repos
    - role: common

# TODO:
# - name: User management
# - name: Base Proxmox configuration
# - name: Hostname management
# - name: Network configuration
