---
- name: Welcome playbook
  hosts: proxmox
  become: true
  tasks:
    - name: Ping nodes
      ansible.builtin.ping:

- name: Configure base node settings
  hosts: proxmox
  become: true
  roles:
    - role: hostname
    - role: pve_repos
    - role: powertop
    - role: common

  handlers:
    - name: Reboot nodes
      ansible.builtin.reboot:
        reboot_timeout: 120

# TODO:
# - name: User management
# - name: Base Proxmox configuration
# - name: Network configuration
